.footer {
  color: var(--text-color);
  padding-inline: 40px;
}

.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 32px;
}

.footerPhone,
.footerSocials,
.footerHours,
.footerAddress {
  background-color: var(--card-bg);
  padding: 32px;
  border-radius: 15px;
  color: var(--text-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}

.contactLabel {
  font-size: 20px;
  color: var(--label-color);
  padding-bottom: 16px;
}

.footerPhone a {
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}



.socialIcons {
  display: flex;
  align-items: center;
  gap: 19px;

}

.socialIcon {
  width: 43px;
  height: 43px;
  flex-shrink: 0;
}

.mapContainer {
  margin-top: 32px;
}

.mapContainer iframe {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 16px;
}

@media (max-width: 1000px) {
  .footer {
    padding-inline: 20px;
  }
}

@media (max-width: 768px) {
  .contactGrid {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 480px) {
  .footerPhone a {
    font-size: 28px;
  }

  .footerSocials {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .footerPhone,
  .footerSocials,
  .footerHours,
  .footerAddress {
    padding: 20px;
  }
}