.productCard {
  width: 100%;
  position: relative;
  background: var(--card-bg);
  border-radius: var(--border-radius-big);
  border: 1px solid var(--border-card-color);
  overflow: hidden;
}

.productCard {
  display: flex;
  flex-direction: column;
}

.productCard a {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.productCard img {
  flex: 1;
}

.productPrice {
  display: flex;
  align-items: baseline;
  gap: 12px;
  padding-left: 32px;
  padding-bottom: 32px;
}

.oldPrice {
  text-decoration: line-through;
  color: var(--label-color);
  font-size: 20px;
}

.newPrice {
  font-size: 40px;
  color: var(--text-color);
  font-weight: 600;
}

.productName {
  padding: 20px;
  font-size: 20px;
  color: var(--text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productImg {
  width: 100%;
  object-fit: cover;
}


.addToCart {
  position: absolute;
  top: 74px;
  right: 18px;
  border: none;
  background: none;
  cursor: pointer;
   display: grid;
  place-items: center;
}
.hover {
  position: absolute;
  opacity: 0;
  transition: opacity .12s ease;
  filter: grayscale(1) brightness(0);   /* перекрасили зелёную в чёрный */
}

/* + NEW: показываем чёрную только когда НЕ в корзине и есть hover/focus */
.addToCart:not(.isActive):hover .base,
.addToCart:not(.isActive):focus-visible .base { opacity: 0; }

.addToCart:not(.isActive):hover .hover,
.addToCart:not(.isActive):focus-visible .hover { opacity: 1; }

/* лёгкий отклик */
.addToCart:hover { transform: scale(1.05); }

.favoriteBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  background: none;
  border: none;
  display: grid;
  place-items: center;
}

.hover {
  opacity: 0;
  filter: grayscale(1) brightness(0); /* делает зелёную чёрной */
}

/* при hover, только если НЕ избранное: показать накладку, скрыть базу */
.favoriteBtn:not(.isActive):hover .base,
.favoriteBtn:not(.isActive):focus-visible .base { opacity: 0; }

.favoriteBtn:not(.isActive):hover .hover,
.favoriteBtn:not(.isActive):focus-visible .hover { opacity: 1; }

/* по желанию: лёгкий отклик на наведение */
.favoriteBtn:hover .icon { transform: scale(1.05); }

.icon {
  max-width: 40px;
}

@media (max-width: 768px) {
  .productName {
    padding: 20px;
  }

  .productPrice {
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 360px) {


  .productImg {
    width: 100%;
    aspect-ratio: 5 / 5;
    object-fit: cover;

  }

  .productName {
    font-size: 16px;
    white-space: normal;
  }

  .icon {
    max-width: 32px;
  }
}