.productCard {
  width: 100%;
  position: relative;
  background-color: var(--saleSection-bg);
  border-radius: 12px;
  border: 1px solid var(--border-Color);


}

.productPrice {
  display: flex;
  align-items: baseline;
  gap: 12px;
  padding: 0 32px 32px 32px;
}

.oldPrice {
  text-decoration: line-through;
  color: var(--label-color);
  font-size: 20px;
}

.newPrice {
  font-size: 40px;
  color: var(--text-color);
  font-weight: 600;
}

.productName {
  padding: 20px 32px 16px 32px;
  font-size: 20px;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productImg {
  width: 100%;
  
  object-fit: cover;
  border-radius: 12px;
  
}

.addToCart {
  position: absolute;
  top: 74px;
  right: 18px;
  border: none;
  background: none;
  cursor: pointer;
}

.favoriteBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  background: none;
  border: none;
}
.icon {
  max-width: 40px;
}
@media (max-width: 768px) {
  .productName {
    padding: 20px;
  }

  .productPrice {
    padding-left: 20px;
  }
}
@media (max-width: 360px) {
  
 
  .productImg {
    width: 100%;
    aspect-ratio: 5 / 5; 
    object-fit: cover;
   
  }

  .productName {
    font-size: 16px;
    color: #282828;
    white-space: normal;
  }



  .icon { max-width: 32px; } 
}