

.sale-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  padding-left: 40px;
  padding-right: 20px;
}

.sale-title {
  color: var(--text-color #424436);
  font-size: 64px;
}

.all-sales-btn {
  color: var(--label-color);
  font-size: 16px;
  border: 0;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

.sale-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr) );
  gap: 20px;
  padding: 0 20px 0 40px;
}


@media (max-width: 728px) {
  .sale-grid { 
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sale-title {
        font-size: 56px;
      }
}


@media (max-width: 480px) {
  .sale-grid { grid-template-columns: 1fr;
   }
   .sale-title {
      font-size: 48px;
    }
}
