.sale-section {
  background: var(--footer-bg);
  margin: 32px 0;
  width: 100%;
}

.sale-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  padding-left: 20px;
  padding-right: 20px;
}

.sale-title {
  color: #424436;
  font-size: 64px;
}

.all-sales-btn {
  color: #8B8B8B;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  
}

.sale-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr) );
  gap: 20px;
  padding: 32px 20px 20px 20px;
}


@media (max-width: 728px) {
  .sale-grid { 
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sale-title {
        font-size: 56px;
      }
}


@media (max-width: 480px) {
  .sale-grid { grid-template-columns: 1fr;
   }
   .sale-title {
      font-size: 48px;
    }
}
