.saleSection {
  padding-inline: 40px;
  margin-top: var(--mt);
}

.saleHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
}


.saleLine {
  flex: 1 1 auto;
  height: 1px;
  background: var(--label-color);
}

.allSalesBtn {
  color: var(--label-color);
  font-size: 16px;
  background-color: var(--footer-bg);
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid var(--border-Color);
}

.saleGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--card-gap);
  margin: auto;
}

@media (max-width: 1000px) {
  .saleSection {
    padding: 0 20px 60px 20px;
  }

  .saleGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .productName {
    padding: 20px;
  }

  .productPrice {
    padding-left: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .saleGrid {
    grid-template-columns: 1fr;
  }
}