.productCard {
  position: relative;
  width: 100%;
  max-width: 316px;
    background: var(-bg);
  border-radius: var(--border-radius-big);
  border: 1px solid var(--border-card-color);
}

.productLink {
  text-decoration: none;
}

.productImg {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer; /*новое. Добавлено, что изображение кликабельно */
  transition: transform 0.3s ease; /* новое. Плавное увеличение при наведении */
}

.productImg:hover {
  transform: scale(1.05); /*новое. Увеличение изображения при наведении */
}

.productName {
  overflow: hidden;
  color: var(--text-color, #424436);
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 20px 12px 20px;
}



.priceBlock {
  display: flex;
  align-items: baseline;
  padding: 0 20px 20px 20px;
  gap: 12px;
}

.newPrice {
  font-size: 40px;
  color: var(--text-color);
  font-weight: 600;
}

.oldPrice {
  text-decoration: line-through;
  color: var(--label-color);
  font-size: 20px;
  font-weight: 500;
}

.addToCartBtn {
  position: absolute;
  top: 74px;
  right: 16px; 
  border: none;
  background: none;
  cursor: pointer;
}

.favoriteBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background: none;
  border: none;
}

.icon {
  max-width: 40px;
}

 @media (max-width: 360px) { 
  .productCard {
  max-width: 290px; 
}
}


