:root {
  --text-color: #424436;
  --footer-bg: #FFFFF1;
  --label-color: #8B8B8B;
  --card-bg: #F2F6D3;
}

.app {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body.dark {
  --text-color: #eee;
  --footer-bg: #222;
  --label-color: #bbb;
  --card-bg: #333;
  background: var(--footer-bg);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  padding: 0 40px;
  color: var(--text-color);
  background: var(--footer-bg);
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 32px;
}

.footer-phone,
.footer-socials,
.footer-hours,
.footer-address {
  background-color: var(--card-bg);
  border-radius: 16px;
  padding: 32px;
}

.contact-label {
  font-size: 20px;
  color: var(--label-color);
  padding-bottom: 16px;
}

.footer-phone a {
  display: block;
  font-weight: 600;
  color: var(--text-color);
  font-size: 40px;
  text-decoration: none;
}

.footer-address p:nth-child(2),
.footer-hours p:nth-child(2) {
  color: var(--text-color);
  font-size: 40px;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 19px;
  
}

.social-icon {
  width: 32px;
  height: 32px;
  fill: var(--text-color);
  cursor: pointer;
}



.map-container {
  margin-top: 32px;
}

.map-container iframe {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 16px;
}

.section-title {
  font-size: 64px;
  color: var(--text-color);
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .footer  {
    padding: 16px;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 16px;
  }

  .footer-phone a,
  .footer-address p:nth-child(2),
  .footer-hours p:nth-child(2) {
    font-size: 28px;
  }
  
}


.sale-section {
  background: var(--footer-bg);
  margin: 32px 0;
  width: 100%;
}

.sale-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: end;
  padding-left: 20px;
  padding-right: 20px;
}

.sale-title {
  color: #424436;
  font-size: 64px;
}

.all-sales-btn {
  color: #8B8B8B;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  
}

.sale-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr) );
  gap: 20px;
  padding: 32px 20px 20px 20px;
}

.product-discount {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #F26D22;
  color: #FFFFFF;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 20px;
}

.favorite-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  background: none;
  border: none;
}

.add-to-cart {
  position: absolute;
  top: 74px;
  right: 18px;
  border: none;
  background: none;
  cursor: pointer;
}


.product-name {
  padding: 20px 32px 16px 32px;
  font-size: 20px;
  color: #282828;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  display: flex;
  margin-left: 32px;
  align-items: baseline;
  gap: 12px;
  padding-bottom: 20px;
}

.new-price {
  font-size: 40px;
  color: var(--text-color);
  font-weight: 600;
}

.old-price {
  text-decoration: line-through;
  color: #8B8B8B;
  font-size: 20px;
}

.product-card {
  width: 100%;       
  position: relative; 
}

.product-img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .sale-grid { grid-template-columns: repeat(2, minmax(0, 1fr));  }
}


@media (max-width: 480px) {
  .sale-grid { grid-template-columns: 1fr;
   }
}



