.categories-header {
  display: none;
}

.categories-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0;
  color: #424436;
  margin: 0 0 0.5rem 0;
  width: 320px;
  height: 44px;
}

.full-width-line {
  display: none;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.categories-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    max-width: 440px;
    margin: 0 auto;
}

.categories-title {
    font-size: 48px;
    width: 271px;
    height: 53px;
    margin: 0;
}

.separator-line {
  flex-grow: 1;
  height: 0;
  border-bottom: 1px solid #DDDDDD;
  margin: 0 0.5rem;
}


@media (min-width: 768px) {
    .categories-header {
        max-width: 728px;
    }

    .categories-title {
        font-size: 56px;
        width: 316px;
        height: 62px;
    }

    .all-categories-btn {
        font-size: 16px;
        padding: 8px 16px;
        width: 142px;
        height: auto;
    }

    .full-width-line {
        display: block;
    }
}

@media (min-width: 1000px) {
  .categories-title {
    font-size: 64px;
    width: 225px;
    height: 70px;
  }
.separator-line {
    margin: 15px !important;
  }
  .all-categories-btn {
    font-size: 16px;
    padding: 8px 16px;
    width: 142px;
    height: auto;
  }

    .categories-header {
        max-width: 960px;
        height: 70px;
    }
}

@media (min-width: 1440px) {
    .categories-header {
        max-width: 967px;
    }

    .all-categories-btn {
      margin-top: 20px;
    }

    .separator-line {
      margin-top: -10px;
    }
}