.discountedLabel {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
}

.discountedLabel input {
  width: 16px;
  height: 16px;
}