.item {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    background: var(--card-bg);
    border: 1px solid var(--border-card-color);
    margin-bottom: 16px;
    border-radius: 12px;


}

.itemImg {

    max-width: 230px;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
}

.itemInfo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.header {
    display: flex;
    gap: 16px;
    padding-top: 32px;
}

.title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    flex: 1 0 0;
    color: var(--text-color);
}

.controls {
    display: flex;
    gap: 32px;
    align-items: center;
}

.quantity {
    display: flex;
    align-items: stretch;
    border-radius: 6px;
    border: 1px solid var(--border-card-color);

    background-color: var(--input-card-color);
}

.quantity button {
    width: 58px;
    height: 58px;
    font-size: 30px;
    color: var(--label-color);
    border: 1px solid var(--border-card-color);
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--input-card-color);
}

.quantity span {
    display: flex;
    width: 96px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    background-color: var(--card-bg);
    border: 1px solid var(--border-Color);
    background-color: var(--input-card-color);
}

.price {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

.newPrice {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    color: var(--text-color);
}

.oldPrice {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    text-decoration-line: line-through;
    color: var(--label-color);
}

.removeBtn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--label-color);
    padding-right: 20px;
}

@media (max-width: 1150px) {

    .controls {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
    }

    .itemInfo {
        gap: 12px;
    }

    .quantity {
        order: 1;
    }

    .price {
        order: 2;
        flex-basis: 100%;
        padding-bottom: 20px;
    }
}